<launch>

	<!-- run p2os to control the pioneer (comment this out for simulation)-->
	<node pkg="p2os_driver" type="p2os_driver" name="p2os_driver" >
		<param name="port" type="str" value="/dev/ttyUSB0"/>
	</node>


	<!-- run the teleop node to send movement velocities to the pioneer -->
	<param name="axis_vx" type="int" value="1" />
	<param name="axis_vw" type="int" value="6" />
	<param name="axis_vy" type="int" value="30" />
	<param name="deadman_button" type="int" value="5" />
	<param name="run_button" type="int" value="4" />
	<node pkg="p2os_teleop" type="p2os_teleop" name="p2os_teleop" >
		<remap from="/des_vel" to="/base_controller/command" />
	</node>

	<!-- run a joy node to control the pioneer -->
	<node pkg="joy" type="joy_node" name="pioneer_joy_controller" />

	<!-- Run a joy reading script -->
    <node pkg="joy_read" name="control_gripper_node" type="control_gripper.py" output="screen"/>
</launch>
